.sidebar {
  /* grid-col */
  grid-row: span 3;
  height: 100%;
  border-radius: 10px;
  /* background: rgb(45, 47, 49); */
  font-size: 1rem;
  padding: 15px;
}

.sidebar__dt {
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.sidebar__link {
  color: rgb(80, 80, 80);
}
.sidebar__link__child {
  color: rgba(80, 80, 80, 0.8);
}

.sidebar a:hover {
  text-decoration: underline;
  color: rgb(114, 43, 43);
}
