.product_card {
  display: flex;
  padding: 2%;
  margin-top: 1%;
  width: 100%;
  height: fit-content;
  min-height: 50px;
  min-width: 400px;
  background-color: white;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

.product_card_caracteristics {
  width: 70%;
  min-width: 190px;
  height: fit-content;
}

.product_card_info {
  width: 30%;
  min-width: 200px;
  height: fit-content;
  border-radius: 10px;
  border: solid 1px rgb(0, 0, 0, 0.1);
  padding: 2%;
}

.product_imgs_container {
  height: 650px;
  width: 98.5%;
}
.product_img_thumbnail {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(30, 100px);
  grid-template-rows: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 20%;
}
.product_img_thumbnail img {
  object-fit: contain;
  border: solid rgb(156, 156, 156) 1px;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
  height: 100px;
}
.product_img_container {
  height: 80%;
  width: 100%;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product_caracteristics {
  background: darkgreen;
  width: 100%;
}
.product_description {
  width: 100%;
  height: fit-content;
}

.product_card_caracteristics hr {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 3%;
}

.product_card_info_body {
  height: fit-content;
  width: 100%;
}

.product_payments {
  font-size: 1.2rem;
}

.product_card_buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  height: fit-content;
  text-align: center;
}

.btn {
  width: 100%;
}

.product_description_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1%;
}

.product_description_body {
  font-size: 1.2rem;
  text-align: justify;
}
