.product__body {
  width: 100%;
  padding: 6%;
  height: 30%;
  background: white;
}
.product__img {
  background: white;
  padding: 1%;
  height: 70%;
  max-height: 20em;
}
.product__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: fit-content;
  /* background: brown; */
  margin-top: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: darkslategray;
}

.price {
  height: 50%;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(53, 53, 53);
}

.installments {
  height: 50%;
  font-size: 1rem;
  color: rgb(24, 153, 31);
}
